<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb468124113380286</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>everybodyrun</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>31</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4a0286d73230b5a44fd218d9b17d231a4410506f</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>accessToken</key>
					<string>pk.eyJ1IjoiY2llbGVhdGhsZXRpY3MiLCJhIjoiY2lxZWc0bXFvMDA4MGh6bWMyaDR5Mjk4ZCJ9.nb1vdG1hf9rseEsUeybKEw</string>
				</dict>
				<key>KitName</key>
				<string>MGLAccountManager</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>468124113380286</string>
	<key>FacebookDisplayName</key>
	<string>EverybodyRun</string>
	<key>InstagramAppClientId</key>
	<string>3dd39da246104da9badf63f680c34c44</string>
	<key>InstagramAppRedirectURL</key>
	<string>http://www.goformiles.com/MILES/wp-admin/options-general.php?page=easy-instagram</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>messenger-api20140430</string>
		<string>instagram</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiY2llbGVhdGhsZXRpY3MiLCJhIjoiY2lxZWc0bXFvMDA4MGh6bWMyaDR5Mjk4ZCJ9.nb1vdG1hf9rseEsUeybKEw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>Pushwoosh_APPID</key>
	<string>4C026-2F3FB</string>
	<key>UIAppFonts</key>
	<array>
		<string>GOTHIC.TTF</string>
		<string>GOTHICB.TTF</string>
		<string>GOTHICBI.TTF</string>
		<string>GOTHICI.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_nolWzo3hptyKDBETq0OBappeuAgz6tzZ</string>
		<key>test</key>
		<string>key_test_mpgYqn3abwrQwFqHEYKz7mldqAfqWEUj</string>
	</dict>
</dict>
</plist>
